$bgColor: rgb(245, 245, 245);

body {
  background-color: $bgColor;

  .col {
    padding: 0 !important;
  }

  #splash {
    position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: flex;
      flex-direction: column;

    #loginSplash {
      background-color: $bgColor;
      display: block;
      width: 20rem;
      margin: auto;
      box-sizing: border-box;
      text-align: center;

      .tabs {
        background-color: inherit;
      }

      #remember {
        position: static !important;
        opacity: 1 !important;
        vertical-align: middle;
      }

      .btn {
        display: block;
        width: 100%;
        margin: 1rem auto;
      }
    }
  }

  main {
    .card-content {
      display: table;

      .headerRow, .contentRow {
        display: table-row;

        h5, p {
          display: table-cell;
          padding: 4%;
        }
      }
    }
  }
}
